[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/refl-cpp"]
	path = external/refl-cpp
	url = git@github.com:chisuhua/refl-cpp.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/reflect-cpp"]
	path = external/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "sc_tools/icsc"]
	path = sc_tools/icsc
	url = git@github.com:chisuhua/systemc-compiler.git
[submodule "sc_tools/scc"]
	path = sc_tools/scc
	url = git@github.com:chisuhua/SystemC-Components.git
[submodule "external/TaskRunner"]
	path = external/TaskRunner
	url = git@github.com:chisuhua/TaskRunner.git
